/* Global */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body {
  background-color: #2d46b9;
  color: #f8f8f8;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

/* Main */

.container {
  width: 50%;
  margin: 2.5rem auto;
  padding: 1.875rem;
  border-radius: 0.625rem;
}

main {
  text-align: center;
}

main h1 {
  font-size: 2.25rem;
}

main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

main p {
  font-size: 1rem;
}

main > p {
  margin: 2.9375rem 0 2rem 0;
}

main span {
  font-size: 55px;
}

a {
  background-color: #f037a5;

  margin-top: 1.875rem;

  padding: 0.625rem 2rem;
  border: solid 1px #f037a5;
  border-radius: 0.625rem;
}

a:hover {
  background-color: #f0376e;
  padding: 0.8rem 2.175rem;
}

a {
  color: #f8f8f8;
}

/* Footer */

footer img {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 34.375rem) {
  .container {
    width: 90%;
    padding: 0;
    margin: 10rem auto;
  }
}

@media (max-width: 19.0625rem) {
  main h1 {
    margin-top: 1.25rem;
    font-size: 1.125rem;
  }

  main ul {
    flex-direction: column;
  }
}
